
<div class="login-wrap">
    <h2 class="login-title">Login</h2>
    
    <form class="login-form" action="/users/login" method="POST">
        <input class="login-input" type="text" placeholder="Username" name="name" autocomplete="off" />
        <input class="login-input" type="password" placeholder="Password" name="password" />
        <button type="submit" class="login-button">Login</button>
        <a class="login-register" href="/users/register">Don't have an accout? Register</a>
    </form>
</div>
