
<div class="register-wrap">
    <h2 class="login-title">Register</h2>
    
    <form class="register-form" action="/users/login" method="POST">
        <input class="register-input" type="text" placeholder="Username" name="name" autocomplete="off" />
        <input type="email" class="email-input" name="email" placeholder="Email" />
        <input class="register-input" type="password" placeholder="Password" name="password" />
        <input type="password" name="password2" class="comfirm-password" placeholder="Comfirm Password" />
        <button type="submit" class="login-button">Register</button>
        <a class="login-register" href="/users/login">Already have a account?</a>
    </form>
</div>