<div class="welcome">
    <!-- <h1 class="welcome-fab"><i class="fab fa-keycdn"></i></h1> -->
   <h1><i class="fab fa-keycdn"></i></h1>
   <div class="welcome-buttons">
        <p>Create an accout or login</p>
        <a href="/users/register" class="welcome-register">Register</a>
        <a href="/users/login" class="welcome-login">Login</a>
    </div>
</div>
